---
import { Image } from "astro:assets";

interface Props {
  idx: number;
  title: string;
  techStack: string;
  description: string;
  image: any;
  siteUrl: string;
  codeUrl: string;
}

const { idx, title, techStack, description, image, siteUrl, codeUrl } =
  Astro.props;
---

<article
  class={`
    flex
    flex-col-reverse
    gap-5
    lg:gap-10
    w-full
    justify-center
    lg:items-center
    ${idx % 2 === 0 ? "lg:flex-row" : "lg:flex-row-reverse"}
  `}
>
  <div class="flex-1 flex flex-col gap-3 lg:gap-6">
    <h1 class="heading-1">{title}</h1>
    <h2 class="heading-2">Techstack: {techStack}</h2>
    <p>{description}</p>
    <div class="flex gap-8">
      <a
        href={siteUrl}
        class="font-semibold hover:underline underline-offset-8"
        target="_blank"
      >
        Live Site &#10140; {/* A little arrow sign using HTML element code */}
      </a>
      <a
        href={codeUrl}
        class="font-semibold hover:underline underline-offset-8"
        target="_blank"
      >
        Code &#10140; {/* A little arrow sign using HTML element code */}
      </a>
    </div>
  </div>
  <div class="flex-1 flex justify-center">
    <Image
      class="rounded-md"
      src={image}
      alt="responsive-dashboard-img"
      width={600}
    />
  </div>
</article>
